%h2 Statistic charts
%p Fill in textfields with username, upload date, content type of image and filesize (min  filesize  max).
= simple_form_for :user, url: admin_charts_path, method: :get do |f|
  = f.input :username, as: :select, input_html: { class: "combobox" },
                       collection: User.order(:username).pluck(:username)
  = f.input :upload_date, as: :date_time_picker,
                          input_html: { data: { date_format: "YYYY-MM-DD" } }
  = f.input :content_type, as: :select,
                           collection: [ 'image/jpeg', 'image/gif', 'image/png' ],
                           required: false
  = f.input :file_size_min, as: :select, input_html: { class: "combobox" },
                            collection: Image.order(:file_size).uniq.pluck(:file_size),
                            required: false
  = f.input :file_size_max, as: :select, input_html: { class: "combobox" },
                            collection: Image.order(:file_size).uniq.pluck(:file_size),
                            required: false
  = f.button :submit, "Show uploads"

= link_to "Back", admin_dashboard_path