%h2 Statistic charts
%p Fill in textfields with username, upload date, content type of image and filesize (min  filesize  max).
= simple_form_for :user, url: admin_charts_path, method: :get do |f|
  = f.input :username
  = f.input :upload_date, as: :date_time_picker,
                          input_html: { data: { date_format: "YYYY-MM-DD" } }
  = f.input :content_type, as: :select,
                           collection: [ 'image/jpeg', 'image/gif', 'image/png' ],
                           required: false
  = f.input :file_size_min, as: :select,
                            collection: [ '5000', '10000', '30000', '60000', '100000' ],
                            hint: "file size in bytes",
                            required: false
  = f.input :file_size_max, as: :select,
                            collection: [ '120000', '200000', '300000', '500000', '800000', '1200000' ],
                            hint: "file size in bytes",
                            required: false
  = f.button :submit, "Show uploads"

= link_to "Back", admin_dashboard_path