<div class="image">
  <%= link_to image_tag(image.attachment_url(:thumb)), image if image.attachment? %>
  <div class="name"><%= image.name %></div>
  <div class="social">
    <%= social_share_button_tag(image.name, url: "#{image.attachment_url}") %>
  </div>
  <div class="actions">
    <%= link_to "edit", edit_image_path(image) %> |
    <%= link_to "remove", image, confirm: 'Are you sure?', method: :delete %>
  </div>
</div>
