<h1>Images</h1>

<%= simple_form_for Image.new do |f| %>
  <%= f.input :description, hint: "description image" %>
  <%= f.label :attachment, "Upload image:" %>
  <%= image_tag(Image.new.attachment_url(:thumb)) if Image.new.attachment? %>
  <%= f.file_field :attachment %>
  <%= f.hidden_field :attachment_cache %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

<div id="images">
  <% if @images.present? %>
    <%= render @images %>
  <% else %>
    <p>There are no descriptions containing the tag(s) <%= params[:search] %>.</p>
  <% end %>
</div>
<div class="clear"></div>
