!!!
%html
  %head
    %title Imgur-Clone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag "bootstrap-combobox.js"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Imgur-Clone", root_path, class: "navbar-brand"
        #navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li= link_to "Upload image", images_path
            - if user_signed_in?
              - if current_user.admin?
                %li= link_to "Charts", admin_dashboard_path
              - else
                %li= link_to "Charts", new_user_chart_path
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                %p.navbar-text
                  - if current_user.email.present?
                    = current_user.email
                  - else
                    = current_user.username
              %li= link_to "Edit profile", edit_user_registration_path
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign up", new_user_registration_path
              %li= link_to "Login", new_user_session_path
          = form_tag(images_path, method: :get, class: "navbar-form navbar-right", id: "search-form") do
            .form-group
              = text_field_tag :search, params[:search], placeholder: "Search images tags"
            %button.btn.btn-default{ type: "submit" } Search
    #main-container.container
      .row
        .col-sm-12.col-md-12.col-lg-12
          %p.notice= notice
          %p.alert= alert
          = yield